<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whc.aip.adv.dao.putIn.AdvShowTimeMapper" >
  <resultMap id="BaseResultMap" type="com.whc.aip.adv.model.putIn.AdvShowTime" >
    <id column="SHOWTIME_ID" property="showtimeId" jdbcType="VARCHAR" />
    <result column="ACTIVITY_ID" property="activityId" jdbcType="VARCHAR" />
    <result column="SHOWTIME_DATEFROM" property="showtimeDateFrom" jdbcType="VARCHAR" />
    <result column="SHOWTIME_DATETO" property="showtimeDateTo" jdbcType="VARCHAR" />
    <result column="SHOWTIME_TIMEFROM" property="showtimeTimeFrom" jdbcType="VARCHAR" />
    <result column="SHOWTIME_TIMETO" property="showtimeTimeTo" jdbcType="VARCHAR" />
    <result column="SHOWTIME_DESCRIPTION" property="showtimeDescrIption" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SHOWTIME_ID, ACTIVITY_ID, SHOWTIME_DATEFROM, SHOWTIME_DATETO, SHOWTIME_TIMEFROM, 
    SHOWTIME_TIMETO, SHOWTIME_DESCRIPTION
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.whc.aip.adv.model.putIn.AdvShowTimeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ADV_SHOWTIME
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ADV_SHOWTIME
    where SHOWTIME_ID = #{showtimeId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ADV_SHOWTIME
    where SHOWTIME_ID = #{showtimeId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.whc.aip.adv.model.putIn.AdvShowTimeExample" >
    delete from ADV_SHOWTIME
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.whc.aip.adv.model.putIn.AdvShowTime" >
    <selectKey resultType="java.lang.String" keyProperty="showtimeId" order="BEFORE" >
      select sys_guid() from dual
    </selectKey>
    insert into ADV_SHOWTIME (SHOWTIME_ID, ACTIVITY_ID, SHOWTIME_DATEFROM, 
      SHOWTIME_DATETO, SHOWTIME_TIMEFROM, SHOWTIME_TIMETO, 
      SHOWTIME_DESCRIPTION)
    values (#{showtimeId,jdbcType=VARCHAR}, #{activityId,jdbcType=VARCHAR}, #{showtimeDateFrom,jdbcType=VARCHAR}, 
      #{showtimeDateTo,jdbcType=VARCHAR}, #{showtimeTimeFrom,jdbcType=VARCHAR}, #{showtimeTimeTo,jdbcType=VARCHAR}, 
      #{showtimeDescrIption,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.whc.aip.adv.model.putIn.AdvShowTime" >
    <selectKey resultType="java.lang.String" keyProperty="showtimeId" order="BEFORE" >
      select sys_guid() from dual
    </selectKey>
    insert into ADV_SHOWTIME
    <trim prefix="(" suffix=")" suffixOverrides="," >
      SHOWTIME_ID,
      <if test="activityId != null" >
        ACTIVITY_ID,
      </if>
      <if test="showtimeDateFrom != null" >
        SHOWTIME_DATEFROM,
      </if>
      <if test="showtimeDateTo != null" >
        SHOWTIME_DATETO,
      </if>
      <if test="showtimeTimeFrom != null" >
        SHOWTIME_TIMEFROM,
      </if>
      <if test="showtimeTimeTo != null" >
        SHOWTIME_TIMETO,
      </if>
      <if test="showtimeDescrIption != null" >
        SHOWTIME_DESCRIPTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{showtimeId,jdbcType=VARCHAR},
      <if test="activityId != null" >
        #{activityId,jdbcType=VARCHAR},
      </if>
      <if test="showtimeDateFrom != null" >
        #{showtimeDateFrom,jdbcType=VARCHAR},
      </if>
      <if test="showtimeDateTo != null" >
        #{showtimeDateTo,jdbcType=VARCHAR},
      </if>
      <if test="showtimeTimeFrom != null" >
        #{showtimeTimeFrom,jdbcType=VARCHAR},
      </if>
      <if test="showtimeTimeTo != null" >
        #{showtimeTimeTo,jdbcType=VARCHAR},
      </if>
      <if test="showtimeDescrIption != null" >
        #{showtimeDescrIption,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.whc.aip.adv.model.putIn.AdvShowTimeExample" resultType="java.lang.Integer" >
    select count(*) from ADV_SHOWTIME
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ADV_SHOWTIME
    <set >
      <if test="record.showtimeId != null" >
        SHOWTIME_ID = #{record.showtimeId,jdbcType=VARCHAR},
      </if>
      <if test="record.activityId != null" >
        ACTIVITY_ID = #{record.activityId,jdbcType=VARCHAR},
      </if>
      <if test="record.showtimeDateFrom != null" >
        SHOWTIME_DATEFROM = #{record.showtimeDateFrom,jdbcType=VARCHAR},
      </if>
      <if test="record.showtimeDateTo != null" >
        SHOWTIME_DATETO = #{record.showtimeDateTo,jdbcType=VARCHAR},
      </if>
      <if test="record.showtimeTimeFrom != null" >
        SHOWTIME_TIMEFROM = #{record.showtimeTimeFrom,jdbcType=VARCHAR},
      </if>
      <if test="record.showtimeTimeTo != null" >
        SHOWTIME_TIMETO = #{record.showtimeTimeTo,jdbcType=VARCHAR},
      </if>
      <if test="record.showtimeDescrIption != null" >
        SHOWTIME_DESCRIPTION = #{record.showtimeDescrIption,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ADV_SHOWTIME
    set SHOWTIME_ID = #{record.showtimeId,jdbcType=VARCHAR},
      ACTIVITY_ID = #{record.activityId,jdbcType=VARCHAR},
      SHOWTIME_DATEFROM = #{record.showtimeDateFrom,jdbcType=VARCHAR},
      SHOWTIME_DATETO = #{record.showtimeDateTo,jdbcType=VARCHAR},
      SHOWTIME_TIMEFROM = #{record.showtimeTimeFrom,jdbcType=VARCHAR},
      SHOWTIME_TIMETO = #{record.showtimeTimeTo,jdbcType=VARCHAR},
      SHOWTIME_DESCRIPTION = #{record.showtimeDescrIption,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.whc.aip.adv.model.putIn.AdvShowTime" >
    update ADV_SHOWTIME
    <set >
      <if test="activityId != null" >
        ACTIVITY_ID = #{activityId,jdbcType=VARCHAR},
      </if>
      <if test="showtimeDateFrom != null" >
        SHOWTIME_DATEFROM = #{showtimeDateFrom,jdbcType=VARCHAR},
      </if>
      <if test="showtimeDateTo != null" >
        SHOWTIME_DATETO = #{showtimeDateTo,jdbcType=VARCHAR},
      </if>
      <if test="showtimeTimeFrom != null" >
        SHOWTIME_TIMEFROM = #{showtimeTimeFrom,jdbcType=VARCHAR},
      </if>
      <if test="showtimeTimeTo != null" >
        SHOWTIME_TIMETO = #{showtimeTimeTo,jdbcType=VARCHAR},
      </if>
      <if test="showtimeDescrIption != null" >
        SHOWTIME_DESCRIPTION = #{showtimeDescrIption,jdbcType=VARCHAR},
      </if>
    </set>
    where SHOWTIME_ID = #{showtimeId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.whc.aip.adv.model.putIn.AdvShowTime" >
    update ADV_SHOWTIME
    set ACTIVITY_ID = #{activityId,jdbcType=VARCHAR},
      SHOWTIME_DATEFROM = #{showtimeDateFrom,jdbcType=VARCHAR},
      SHOWTIME_DATETO = #{showtimeDateTo,jdbcType=VARCHAR},
      SHOWTIME_TIMEFROM = #{showtimeTimeFrom,jdbcType=VARCHAR},
      SHOWTIME_TIMETO = #{showtimeTimeTo,jdbcType=VARCHAR},
      SHOWTIME_DESCRIPTION = #{showtimeDescrIption,jdbcType=VARCHAR}
    where SHOWTIME_ID = #{showtimeId,jdbcType=VARCHAR}
  </update>
</mapper>